@import "tailwindcss";

@theme {
  --color-off-white: #f9f8f6;
  --color-off-white-2: #F3EDE5;
  --color-off-white-3: #b6a894;
  --color-brown: #3B2417;
  --color-brown-2: #593927;
  --color-brown-3: #764d35;
  --color-yellow-1: #e9c662;
  --color-yellow-2: #f5d79e;
  --color-yellow-3: #f9e8c7;
}

body {
  background: var(--color-off-white);
  font-family: 'Poppins', sans-serif;
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
}
